<!DOCTYPE html>
	<html lang="es">
		<head>
			<title>{{ page.title }}</title>
      <meta charset="utf-8" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="https://flowsta.github.io/spain.schoolofdata.org/">Home</a></li>
	        	<li><a href="https://flowsta.github.io/spain.schoolofdata.org/about">About</a></li>
        		<li><a href="http://okfn.es">Open Knowledge España</a></li>
        		<li><a href="https://flowsta.github.io/spain.schoolofdata.org/blog/">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="https://github.com/flowsta/spain.schoolofdata.org">github.com/flowsta/spain.schoolofdata.org</a></li>
				</ul>
			</footer>
		</body>
	</html>
