<!DOCTYPE html>
	<html lang="es">
		<head>
			<title>{{ post.title }}</title>
      <meta charset="utf-8" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ base.url }}/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="{{ base.url }}/">Portada</a></li>
<!--	        	<li><a href="{{ base.url }}/acerca-de/">Acerca de</a></li> -->
        		<li><a href="http://okfn.es">Open Knowledge España</a></li>
        		<li><a href="{{ base.url }}/blog/">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="https://github.com/flowsta/spain.schoolofdata.org">github.com/flowsta/spain.schoolofdata.org</a></li>
				</ul>
			</footer>
		</body>
	</html>
